# Postes km

In [99]:
import pandas as pd

postes_viejo = pd.read_excel("postes_km_anterior.xlsx")

nuevos_nombres = {
    "ruta": "Ruta",
    "km": "KM",
    "longitude": "Lat",
    "latitude": "Long"
}
postes_viejo.rename(columns=nuevos_nombres, inplace=True)

postes_viejo = postes_viejo[["Ruta","KM","Lat","Long"]]
postes_viejo

      Ruta   KM        Lat       Long
0        7  345 -54.585138 -32.575664
1        7  349 -54.570987 -32.542146
2        7  355 -54.525446 -32.513338
3        7  365 -54.441941 -32.468569
4        7  370 -54.406333 -32.435834
...    ...  ...        ...        ...
6103   200   48 -55.738036 -34.759697
6104   200   47 -55.747790 -34.763694
6105   200   50 -55.718451 -34.752856
6106   200   51 -55.707844 -34.750046
6107    62   56 -56.314138 -34.437866

[6108 rows x 4 columns]

In [100]:
postes_relevados = pd.read_excel("radares_geolocalizacion.xlsx", sheet_name="Postes")
postes_relevados = postes_relevados[["Ruta","KM","Lat","Long"]]
postes_relevados

    Ruta   KM        Lat       Long
0     67   25 -34.706234 -56.204046
1      5   37 -34.601526 -56.261095
2      5   38 -34.598947 -56.261755
3     11   96 -34.518438 -56.303295
4     81   10 -34.427339 -56.286322
..   ...  ...        ...        ...
217    4  380 -32.362076 -57.209140
218    4  381 -32.353285 -57.210713
219    3  193 -33.509834 -56.925577
220    3  187 -33.543556 -56.884070
221    3  185 -33.552267 -56.877730

[222 rows x 4 columns]

In [101]:
no_coincidencias = []

for _, fila1 in postes_viejo.iterrows():
    for _, fila2 in postes_relevados.iterrows():
        if fila1["Ruta"] == fila2["Ruta"] and fila1["KM"] == fila2["KM"]:
            no_coincidencias.append(fila2)  


df_no_coincidencias = pd.DataFrame(no_coincidencias)

df_no_coincidencias

     Ruta   KM        Lat       Long
22      2  181 -33.885866 -57.372156
12      1  102 -34.365901 -57.052693
189     1  102 -34.361181 -57.063293
188     1  100 -34.371451 -57.043962
102     5    7 -34.855571 -56.255687
..    ...  ...        ...        ...
7       1   30 -34.751097 -56.429969
7       1   30 -34.751097 -56.429969
204    30  128 -30.420478 -56.492146
200    30  130 -30.420007 -56.475481
201    30  131 -30.422549 -56.465155

[131 rows x 4 columns]

In [102]:
postes_km = pd.concat([df_no_coincidencias, postes_viejo], ignore_index=True)
postes_km = postes_km.sort_values(by="Ruta", ascending=True)
postes_km

      Ruta  KM        Lat       Long
5886     0   1 -56.206818 -34.873587
5893     0   5 -56.245348 -34.867580
5892     0   4 -56.237265 -34.872907
5891     0   3 -56.227172 -34.869953
5890     0   3 -56.227399 -34.869865
...    ...  ..        ...        ...
3575   200  54 -55.674372 -34.749616
3574   200  55 -55.664049 -34.750255
3573   200  56 -55.653260 -34.750923
6159   200  33 -55.895183 -34.788439
3450   200  68 -55.532968 -34.784665

[6239 rows x 4 columns]

In [103]:
postes_km.to_excel("Postes_KM_2025.xlsx", index=False)

# Linea Base Carteles

In [104]:
carteles = pd.read_excel("radares_geolocalizacion.xlsx", sheet_name="Linea Base")
carteles

    Nombre de video        Lat       Long Código Radar
0          GX010067 -34.709598 -56.207375         M108
1          GX010067 -34.704995 -56.202791         M108
2          GX010068 -34.601586 -56.261079       M023 A
3          GX010068 -34.593040 -56.262199       M023 B
4          GX010068 -34.591447 -56.262751       M023 B
..              ...        ...        ...          ...
244        GX010127 -33.512603 -56.913041         M056
245        GX010128 -33.515000 -56.883330         M058
246        GX010128 -33.515126 -56.884597         M058
247        GX010129 -33.536184 -56.888858         M057
248        GX010129 -33.537510 -56.888016         M057

[249 rows x 4 columns]

In [105]:
df_agrupado = carteles.sort_values(by="Código Radar")

df_agrupado

    Nombre de video        Lat       Long    Código Radar
92         GX010024 -34.828071 -56.003778        M001 - A
91         GX010024 -34.829707 -56.007576        M001 - A
134        GX020025 -34.824717 -55.996601        M001 - B
93         GX010024 -34.804940 -55.956526        M002 - A
133        GX020025 -34.799423 -55.948591        M002 - B
..              ...        ...        ...             ...
127        GX020024 -34.766409 -55.761199  No corresponde
104        GX010025 -34.765050 -55.752932  No corresponde
95         GX010024 -34.785897 -55.889999  No corresponde
94         GX010024 -34.787301 -55.892055  No corresponde
132        GX020025 -34.783987 -55.887111  No corresponde

[249 rows x 4 columns]

In [106]:
df_agrupado["Código Radar"] = df_agrupado["Código Radar"].str.replace(" ", "", regex=False)
df_agrupado["Código Radar"] = df_agrupado["Código Radar"].str.upper()

In [107]:
df_agrupado["Código Radar"].value_counts()

Código Radar
M010             12
NOCORRESPONDE     5
M018              5
M008              4
M058              4
                 ..
M064              1
M045              1
M046              1
M091              1
M092              1
Name: count, Length: 119, dtype: int64

In [108]:
df_agrupado[df_agrupado["Código Radar"]=="M010"]

   Nombre de video        Lat       Long Código Radar
40        GX010089 -33.874620 -57.367800         M010
51        GX010091 -33.874775 -57.372222         M010
50        GX010091 -33.882646 -57.372031         M010
49        GX010091 -33.890082 -57.372166         M010
48        GX010091 -33.876946 -57.372316         M010
47        GX010091 -33.874927 -57.374667         M010
52        GX010091 -33.874497 -57.365243         M010
46        GX010091 -33.874970 -57.375892         M010
42        GX010089 -33.877623 -57.357376         M010
41        GX010089 -33.874505 -57.365159         M010
39        GX010089 -33.874807 -57.372168         M010
38        GX010089 -33.874719 -57.370185         M010

In [109]:
df_agrupado.to_excel("Carteles_ordenado.xlsx", index=False)

PermissionError: [Errno 13] Permission denied: 'Carteles_ordenado.xlsx'

comentario: la idea es usar una logica para quedarme con un sub data frame donde tengamos solo un sentido en algunos casos y doble snetido en el otro, por lo tanto deberiamos hacer este siguiente codigo y buscar los nombres qu nos gustaria o bien implementar logica donde se logre identigficar que tenemos a + y - buscando un prefijo comun y solo la variante de carcater finañl

### Caso de seleccionar caminos con doble via y unica via

In [125]:
radares = pd.read_excel("radares_geolocalizacion.xlsx", sheet_name="Radares")
radares["Código Radar"] = radares["Código Radar"].str.replace(" ", "", regex=False)
radares["Código Radar"] = radares["Código Radar"].str.upper()  
radares.head(10)

  Nombre Video        Lat       Long Código Radar
0     GX020024 -34.827427 -56.002304       M001-A
1     GX020025 -34.825792 -55.998950       M001-B
2     GX010024 -34.803354 -55.954161       M002-A
3     GX010024 -34.780609 -55.873260       M003-A
4     GX020025 -34.780124 -55.871923       M003-B
5     GX010024 -34.777975 -55.857361       M004-A
6     GX010025 -34.771885 -55.823007       M005-A
7     GX010024 -34.771719 -55.821438       M005-B
8     GX010079 -34.591356 -56.703672         M007
9     GX010082 -34.336311 -57.259966         M008

In [151]:
valores_a_filtrar = [
    "M089", "M090", "M091", "M092", "M093",
    "M096", "M097", "M098", "M099","M100"
]


subcadenas = []
for index, row in df_agrupado.iterrows():
    subcadena_encontrada = None
    for valor in valores_a_filtrar:
        if valor in row["Código Radar"]:
            subcadena_encontrada = valor
            break
    subcadenas.append(subcadena_encontrada)

df_agrupado["Subcadena"] = subcadenas


carteles_filtrado = df_agrupado[df_agrupado["Subcadena"].notna()]

carteles_filtrado

    Nombre de video        Lat       Long Código Radar Subcadena
160        GX010044 -33.110852 -55.131945         M089      M089
159        GX010044 -33.113334 -55.132783         M089      M089
161        GX010044 -33.112614 -55.132632         M089      M089
241        GX010126 -32.353715 -57.210652         M090      M090
240        GX010126 -32.363490 -57.208982         M090      M090
242        GX010126 -32.358885 -57.209809         M090      M090
162        GX010045 -32.924387 -54.956899         M091      M091
163        GX010045 -32.917802 -54.929888         M092      M092
164        GX010046 -32.841465 -54.768308         M093      M093
168        GX010048 -32.518217 -54.541803         M096      M096
169        GX010048 -32.518080 -54.540224         M096      M096
171        GX010048 -32.506350 -54.514405         M097      M097
170        GX010048 -32.506556 -54.514796         M097      M097
232        GX010122 -31.848056 -57.879662         M098      M098
231        GX010122 -31.838793 -57.887329         M098      M098
230        GX010122 -31.833612 -57.887884         M098      M098
233        GX010122 -31.841431 -57.885335         M098      M098
226        GX010120 -31.462994 -57.900247         M099      M099
225        GX010119 -31.454392 -57.909987         M100      M100
224        GX010119 -31.448158 -57.915138         M100      M100

In [152]:
radares_filtrado = radares[radares["Código Radar"].isin(valores_a_filtrar)]

radares_filtrado

   Nombre Video        Lat       Long Código Radar
71     GX010044 -33.110793 -55.131985         M089
72     GX010126 -32.361224 -57.209270         M090
73     GX010045 -32.923927 -54.955321         M091
74     GX010045 -32.917793 -54.929890         M092
75     GX010046 -32.841046 -54.765693         M093
76     GX010048 -32.518353 -54.541923         M096
77     GX010048 -32.506661 -54.515222         M097
78     GX010122 -31.840779 -57.885955         M098
79     GX010120 -31.457106 -57.904646         M099
80     GX010119 -31.450113 -57.913723         M100

In [149]:
radares[radares["Código Radar"].isin(["M004"])]

Empty DataFrame
Columns: [Nombre Video, Lat, Long, Código Radar]
Index: []

In [153]:
import pandas as pd
import folium
import random
from geopy.distance import geodesic

# Crear el mapa centrado en las coordenadas promedio de `carteles_filtrado`
mapa = folium.Map(location=[carteles_filtrado["Lat"].mean(), carteles_filtrado["Long"].mean()], zoom_start=13)

# Generar colores más oscuros únicos para cada valor de "Código Radar"
valores_unicos = pd.concat([carteles_filtrado["Código Radar"], radares_filtrado["Código Radar"]]).unique()
colores = {valor: f"#{random.randint(0, 0x7F7F7F):06x}" for valor in valores_unicos}  # Colores más oscuros

# Función para encontrar el punto más cercano
def encontrar_mas_cercano(origen, puntos_disponibles):
    return min(
        puntos_disponibles,
        key=lambda destino: geodesic((origen["Lat"], origen["Long"]), (destino["Lat"], destino["Long"])).meters
    )

# Procesar cada grupo de "Código Radar"
for codigo_radar in valores_unicos:
    puntos_grupo = carteles_filtrado[carteles_filtrado["Subcadena"] == codigo_radar].copy()
    marcador_estandar = radares_filtrado[radares_filtrado["Código Radar"] == codigo_radar]
    
    if marcador_estandar.empty:
        continue

    marcador_final = {
        "Lat": marcador_estandar.iloc[0]["Lat"],
        "Long": marcador_estandar.iloc[0]["Long"]
    }
    
    # Generar las líneas conectando cada punto al más cercano
    puntos_disponibles = puntos_grupo.to_dict("records")
    if puntos_disponibles:
        punto_actual = puntos_disponibles.pop(0)  # Tomar el primer punto

        while puntos_disponibles:
            siguiente_punto = encontrar_mas_cercano(punto_actual, puntos_disponibles)
            folium.PolyLine(
                locations=[(punto_actual["Lat"], punto_actual["Long"]), (siguiente_punto["Lat"], siguiente_punto["Long"])],
                color=colores[codigo_radar],
                weight=3  # Grosor de la línea
            ).add_to(mapa)
            puntos_disponibles.remove(siguiente_punto)
            punto_actual = siguiente_punto
        
        # Conectar el marcador estándar al punto más cercano
        punto_cercano = encontrar_mas_cercano(marcador_final, puntos_grupo.to_dict("records"))
        folium.PolyLine(
            locations=[(punto_cercano["Lat"], punto_cercano["Long"]), (marcador_final["Lat"], marcador_final["Long"])],
            color=colores[codigo_radar],
            weight=3  # Grosor de la línea
        ).add_to(mapa)

    # Añadir CircleMarkers para el grupo
    for _, row in carteles_filtrado[carteles_filtrado["Subcadena"] == codigo_radar].iterrows():
        folium.CircleMarker(
            location=[row["Lat"], row["Long"]],
            radius=7,
            color=colores[codigo_radar],
            fill=True,
            fill_color=colores[codigo_radar],
            fill_opacity=0.99,
            popup=f"Código Radar: {row['Código Radar']}"
        ).add_to(mapa)

    # Añadir marcador estándar para el grupo
    folium.Marker(
        location=[marcador_final["Lat"], marcador_final["Long"]],
        popup=f"Radar estándar: {codigo_radar}",
        icon=folium.Icon(color="white", icon_color=colores[codigo_radar])
    ).add_to(mapa)

# Guardar el mapa en un archivo HTML
mapa.save("mapa_geografico_8.html")
print("Mapa interactivo guardado como 'mapa_geografico.html'")

Mapa interactivo guardado como 'mapa_geografico.html'

In [ ]:
valores_a_filtrar = [
    "M007", "M011", "M025", "M008", "M009",
    "M102", "M103", "M104", "M035-B", "M030"
]